{% extends '::base.html.twig' %}

{% block meta %}
<!-- SlidesJS Required (if responsive): Sets the page width to the device width. -->
<meta name="viewport" content="width=device-width">
<!-- End SlidesJS Required -->
{% endblock %}

{% block stylesheets %}
<!-- CSS for slidesjs.com example -->
<link rel="stylesheet" href="{{ asset('bundles/azgilgallery/css/SlidesJS/example.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/azgilgallery/css/SlidesJS/font-awesome.min.css') }}">

<link rel="stylesheet" href="{{ asset('bundles/azgilgallery/css/SlidesJS/Optional.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/azgilgallery/css/SlidesJS/Required.css') }}">
<!-- End CSS for slidesjs.com example -->

{% endblock %}

{% block javascript %}
<!-- SlidesJS Required: Link to jQuery -->
<script src="{{ asset('js/jquery.js') }}"></script>
<!-- End SlidesJS Required -->

<!-- SlidesJS Required: Link to jquery.slides.js -->
<script src="{{ asset('bundles/azgilgallery/js/jquery.slides.min.js') }}"></script>
<!-- End SlidesJS Required -->
{% endblock %}

{% block body %}
<!-- SlidesJS Required: Start Slides -->
<!-- The container is used to define the width of the slideshow -->
<div class="container">
    <div id="slides">
      {% for picture in entities %}
        {{ include('AzgilGalleryBundle:Default:imagerenderer.html.twig') }}
      {% endfor %}
        </div>
    </div>
    <!-- End SlidesJS Required: Start Slides -->

  {% block javascripts %}
    <!-- SlidesJS Required: Initialize SlidesJS with a jQuery doc ready -->
    <script>
      $(function() {
        $('#slides').slidesjs({
          width: 940,
          height: 528,
          play: {
            active: true,
            auto: false,
            interval: 4000,
            swap: true
          }
        });
      });
    </script>
    <!-- End SlidesJS Required -->
  {% endblock %}

{% endblock %}